.animation-boxes {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin: 25px;
}

.hdd-card {
  background: var(--hdd-blue-light3);
}

.small-container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.scaleboxes-area {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
