.examples-area {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;

    &.small-area {
        height: 185px;
    }

    &.card-area {
        height: 130px;
    }
}

.examplebuttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;

    .small {
        width: 100%;
    }
}
.animationBoxes {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 25px;
}

.example-container {
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
    width: inherit;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &.small {
        width: 48.5%;
        height: 300px;
        margin-bottom: 5px;

        .examplebuttons {
        @extend .examplebuttons;
        width: 100%; 
        margin-top:10px;
}
    }
}

.small-containers {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: fit-content;

}

.hdd-card {
    background: var(--hdd-blue-light3);
}

.exampleTitle {
display: block;    
margin: 10px;
padding-top: 5px;
}
.subtitle {
    margin-left: 10px;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}