.svg-examples-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.small-orange {
    color: orange;
}

.bigger-green {
    color: green;
}

.largest-red {
    color: red;
}
