.title {
  text-align: center;
  font-size: 40px;
  margin-top: var(--default-margin);
  margin-bottom: var(--default-margin);
}

.info {
  width: 700px;
  margin: auto;
  margin-bottom: calc(var(--default-margin) * (1.61));
}

.npm-badge {
  margin-right: calc(var(--default-margin) / 2);
}

.terminal-line {
	background: rgba(0,0,0,.06);
	padding: 4px;
	border-radius: 5px;
	font-weight: 500;
}