<div class="doc-page-container">
  <h1 class="doc-title">Getting started with HAL</h1>

  <p class="doc-info">
    This guide explains how to setup your Angular project to begin using HAL-Components. It includes information on
    installing HAL, and optionally displaying a sample HAL component in your application to
    verify your setup.
  </p>

  <h2 class="doc-subtitle">Installing HAL</h2>
  <h3>WITH NG ADD: </h3>

  <p class="doc-info">
    To add HAl simply open your terminal inside your project folder and copy the command from the
    terminal example(ng add @hafslundnett/hal-components), and run the command.
  </p>

  <hal-code-highlighter [isSHELL]="true" [code]="isSHELL"></hal-code-highlighter>

  <p class="doc-info">
    It will add HDD & HAL, and ask if you want to add the required styling in your styles.scss
  </p>

  <p class="doc-info">
    Add HAL to your angular project with <span class="terminal-line">ng add @hafslundnett/hal-components</span>.
    It will add HDD & HAL, and ask if you want to add the required styling in your styles.scss
  </p>

  <p class="doc-info">
    HAL is available as a NPM package here:
    <a class="hdd-link"
      href="https://www.npmjs.com/package/@hafslundnett/hal-components">npmjs.com/package/@hafslundnett/hal-components</a>
    <br>
    Just install with yarn and start using it!
  </p>

  <p class="doc-info">
    The github repo can be found here: <a class="hdd-link"
      href="https://github.com/hafslundnett/hal-components">github.com/hafslundnett/hal-components</a>
    <br>
    Please submit any issues there directly.
  </p>

  <hal-code-highlighter [isSHELL]="true" [code]="isSHELL"></hal-code-highlighter>

  <p class="doc-info">
    <img class="npm-badge" src="https://badge.fury.io/js/%40hafslundnett%2Fhal-components.svg">
    <img src="https://badgen.net/bundlephobia/minzip/@hafslundnett/hal-components">
  </p>


</div>

<hal-doc-list></hal-doc-list>