<div class="doc-page-container">
  <h1 class="doc-title">Getting started with HAL</h1>

  <p class="doc-info">
    This guide explains how to setup your Angular project to begin using HAL-Components.
  </p>

  <h2 class="doc-subtitle">Automatic Installation HAL</h2>
  <hal-code-highlighter [isSHELL]="true" [code]="shellcode"></hal-code-highlighter>

  <p class="doc-info">
    To add HAl simply open your terminal inside your project root folder and copy the command from the
    terminal example, and run the command.
    It will add HDD & HAL, and ask if you want to add the required styling in your styles.scss
  </p>
  <p class="doc-info">
    Addiontal packages that are needed for Hal to work are Angular Material and CDK.
    To install Angular Material use the install schematic below. This will install both Angular Material and CDK. In
    your
    project root folder open your termninal and run the following command:
  </p>

  <hal-code-highlighter [isSHELL]="true" [code]="angularMaterialCode"></hal-code-highlighter>

  <p class="doc-info">
    You can find more information about Angular Material and it´s install schematic here:
    <a class="hdd-link" href="https://material.angular.io/guide/getting-started">Angular Material - Getting Started</a>
    <br>
  </p>

  <h2 class="doc-subtitle">Manual Installation HAL (Not recommended)</h2>
  <p class="doc-info">
    HAL is available as a NPM package here:
    <a class="hdd-link"
      href="https://www.npmjs.com/package/@hafslundnett/hal-components">npmjs.com/package/@hafslundnett/hal-components</a>
    <br>
    Install with yarn or npm like:
  </p>
  <ul>
    <li class="list-item">Yarn: <span class="terminal-line">yarn add @hafslundnett/hal-components</span></li>
    <li class="list-item">Npm: <span class="terminal-line">npm install @hafslundnett/hal-components</span></li>
  </ul>

  <p class="doc-info">
    Addiontal packages that are needed for Hal work are HDD-Style, Angular Material and CDK.
    You can install HDD-style through yarn or npm:
  </p>
  <ul>
    <li class="list-item">Yarn: <span class="terminal-line">yarn add @hafslundnett/hdd-style</span></li>
    <li class="list-item">Npm: <span class="terminal-line">npm install @hafslundnett/hdd-style</span></li>
  </ul>
  <p class="doc-info">
    To install Angular Material use the install schematic. This will install both Angular Material and CDK. In your
    project root folder open your termninal and run the following command:
  </p>
  <ul>
    <li class="list-item"><span class="terminal-line">ng add @angular/material</span></li>
  </ul>

  <p>Then add the following style to your projects main styles.scss file:</p>

  <hal-code-highlighter [isSCSS]="true" [code]="scssCode"></hal-code-highlighter>

  <hal-divider class="divider-line"></hal-divider>

  <p class="doc-info">
    The github repo can be found here: <a class="hdd-link"
      href="https://github.com/hafslundnett/hal-components">github.com/hafslundnett/hal-components</a>
    <br>
    Please submit any issues there directly.
  </p>

  <p class="doc-info">
    <img class="npm-badge" src="https://badge.fury.io/js/%40hafslundnett%2Fhal-components.svg">
    <img src="https://badgen.net/bundlephobia/minzip/@hafslundnett/hal-components">
  </p>


</div>

<hal-doc-list></hal-doc-list>