.flex-row {
    display: flex;
    flex-direction: row;
    height: 55px;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.example-btn {
    width: 170px;
    margin-right: 25px;
}

