.example-container {
<<<<<<< HEAD
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
=======
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: var(--hdd-spacing-2) 0;
>>>>>>> f55b93aa089e415434647acddf1724147423c97b

  .example {
    width: 300px;
    margin-right: 50px;
  }
}

.example-info {
  margin-bottom: 16px;
}

.divider-margin {
  margin-top: calc(var(--default-margin) * 1.61);
  margin-bottom: calc(var(--default-margin) * 1.61);
}
