.example-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    .example {
        width: 300px;
        margin-right: 50px;
    }
}

.example-info {
    margin-bottom: 16px;
}