<div class="header">
  <h1 class="title">HDD-style, HAL-components</h1>
</div>
<div class="body">
  <nav class="menu">
    <ng-container *ngFor="let page of pages">
      <a [routerLink]="page.url" routerLinkActive="active" class="menu-item">{{page.name}}</a>
      <div class="divider"></div>
    </ng-container>
  </nav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <hal-components></hal-components> 
<hal-test-button></hal-test-button> 


<router-outlet></router-outlet> -->
