.resize-box-horizontal {
    background: white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.resize-box-vertical {
    background: white;
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.vertical-container {
    display: flex;
    flex-direction: row;
}