.formatting {
    margin-top: 15px;
}

.example-container {
    border-radius: 5px;
    background: white;
    padding: 15px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}

.divider-margin {
    margin-top: calc(var(--default-margin) * 1.61);
    margin-bottom: calc(var(--default-margin) * 1.61);
}

.bold {
    font-weight: bold;
}