<h1 class="title">HAL Components Documentation</h1>

<p class="info">
  Welcome to HAL, the component library for HDD-Style.
  This library consist of a series of ready to use components that will help you build websites faster that ever.
</p>

<p class="info">
  To add HAl simply open your terminal inside your project folder and copy the command: <br>
  <span class="terminal-line">ng add @hafslundnett/hal-components</span>.
  It will add HDD & HAL to your project, and ask if you want to add the required styling in your styles.scss
</p>



<p class="info">
  HAL is available as a NPM package here:
  <a class="hdd-link" href="https://www.npmjs.com/package/@hafslundnett/hal-components">npmjs.com/package/@hafslundnett/hal-components</a>
  <br>
  Just install with yarn and start using it!
</p>

<p class="info">
  The github repo can be found here: <a class="hdd-link" href="https://github.com/hafslundnett/hal-components">github.com/hafslundnett/hal-components</a>
  <br>
  Please submit any issues there directly.
</p>

<p class="info">
  <a class="hdd-link" href="https://www.npmjs.com/package/@hafslundnett/hal-components">
    <img class="npm-badge" src="https://badge.fury.io/js/%40hafslundnett%2Fhal-components.svg">
  </a>
  
  <a class="hdd-link" href="https://bundlephobia.com/result?p=@hafslundnett/hal-components@1.2.0">
    <img src="https://badgen.net/bundlephobia/minzip/@hafslundnett/hal-components">
  </a>
</p>

<hal-doc-list></hal-doc-list>