<div class="doc-list-divider">
  <hr class="hdd-divider">
</div>

<h2 class="card-list-title">All components</h2>
<div class="card-list-container">
  <hal-doc-sublist [elements]="components"></hal-doc-sublist>
</div>

<h2 class="card-list-title">All services</h2>
<div class="card-list-container">
  <hal-doc-sublist [elements]="services"></hal-doc-sublist>
</div>

<h2 class="card-list-title">All pipes</h2>
<div class="card-list-container">
  <hal-doc-sublist [elements]="pipes"></hal-doc-sublist>
</div>

<h2 class="card-list-title">All directives</h2>
<div class="card-list-container">
  <hal-doc-sublist [elements]="directives"></hal-doc-sublist>
</div>

<h2 class="card-list-title">All Constants</h2>
<div class="card-list-container">
  <hal-doc-sublist [elements]="constants"></hal-doc-sublist>
</div>

<h2 class="card-list-title">Other</h2>
<div class="card-list-container">
  <hal-doc-sublist [elements]="others"></hal-doc-sublist>
</div>