.card-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content:flex-start;
  
}

.card-list-title {
  font-size: 30px;
  margin-top: calc(var(--default-margin) * 1.5);
  margin-bottom: var(--default-margin);
}