<div class="doc-list-divider">
  <hal-divider></hal-divider>
</div>

<h2 class="card-list-title">All components</h2>

<div class="card-list-container">
  <hal-doc-card [docUrl]="pages.SvgDoc">
    <ng-container ngProjectAs="cardIcon">
      <i class="fal fa-images"></i>
    </ng-container>
    <ng-container ngProjectAs="cardTitle">
      Svg Component
    </ng-container>
    <ng-container ngProjectAs="cardSubtitle">
      For displaying SVG files
    </ng-container>

  </hal-doc-card>

  <hal-doc-card [docUrl]="pages.PopupGlobalDoc">
      <ng-container ngProjectAs="cardIcon">
        <i class="fal fa-comment-alt"></i>
      </ng-container>
    <ng-container ngProjectAs="cardTitle">
      Popup Global Service
    </ng-container>
    <ng-container ngProjectAs="cardSubtitle">
      For displaying a standard popup
    </ng-container>
  </hal-doc-card>
  <hal-doc-card [docUrl]="pages.DividerDoc">
      <ng-container ngProjectAs="cardIcon">
        <i class="fal fa-columns"></i>
      </ng-container>
    <ng-container ngProjectAs="cardTitle">
      Divider Component
    </ng-container>
    <ng-container ngProjectAs="cardSubtitle">
      Component to divide UI elements
    </ng-container>
  </hal-doc-card>
</div>