@import '~@hafslundnett/hdd-style/main';

@import '~@hafslundnett/hdd-style/variables/main';
@import '~@angular/material/theming';

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
}



@include mat-core();
$primary-color: mat-palette($hdd-material_primary);
$accent-color: mat-palette($hdd-material_accent);
$warn-color: mat-palette($hdd-material_warn);
$theme: mat-light-theme($primary-color, $accent-color, $warn-color);

$typography: mat-typography-config($font-family: ('"Helvetica Neue LT Std", Arial, sans-serif'));

@include angular-material-theme($theme);
@include angular-material-typography($typography);
